<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wcj.mapper.CommentMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wcj.pojo.Comment">
        <id column="comment_id" property="id"/>
        <result column="comment_content" property="commentContent"/>
        <result column="comment_user" property="commentUser"/>
        <result column="comment_blog" property="commentBlog"/>
        <result column="comment_good" property="commentGood"/>
        <result column="created_time" property="createdTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        comment_id,
        comment_content,
        comment_user,
        comment_blog,
        comment_good,
        created_time,
        deleted
    </sql>

</mapper>
