<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wcj.mapper.LogMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wcj.pojo.Log">
        <id column="log_id" property="logId"/>
        <result column="log_url" property="logUrl"/>
        <result column="log_params" property="logParams"/>
        <result column="log_status" property="logStatus"/>
        <result column="log_message" property="logMessage"/>
        <result column="log_method" property="logMethod"/>
        <result column="log_time" property="logTime"/>
        <result column="log_result" property="logResult"/>
        <result column="log_ip" property="logIp"/>
        <result column="created_time" property="createdTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        log_id, log_url, log_params, log_status, log_message, log_method, log_time, log_result, log_ip, created_time
    </sql>
    <!-- 根据id删除日志 -->
    <delete id="deleteById" parameterType="com.wcj.pojo.Log">
        delete from bl_log where log_id=#{id}
    </delete>
    <!-- 根据id集合删除日志 -->
    <delete id="deleteByIdList">
        delete from bl_log
        where log_id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
    <!-- 分页查询日志列表 -->
    <select id="getLogList" resultMap="BaseResultMap" parameterType="com.wcj.utils.Page">
         select log_id, log_url, log_params, log_status,
         log_message, log_method, log_time,log_ip, created_time
         from bl_log
         <where>
             <if test="params.logUrl!=null and params.logUrl!=''">
                 log_url like CONCAT('%',#{params.logUrl},'%')
             </if>
             <if test="params.logStatus!=null">
                 and log_status=#{params.logStatus}
             </if>
             <if test="params.logMethod!=null and params.logMethod!=''">
                 and log_method like CONCAT('%',#{params.logMethod},'%')
             </if>
             <if test="params.logIp!=null and params.logIp!=''">
                 and log_ip like CONCAT('%',#{params.logIp},'%')
             </if>
             <if test="params.createdTime!=null and params.createdTime!=''">
                 and created_time like CONCAT('%',#{params.createdTime},'%')
             </if>
         </where>
            <if test="sortColumn!=null and sortColumn!=''">
                order by ${sortColumn} ${sortMethod}
            </if>
             limit #{index},#{pageSize}
    </select>
    <!-- 分页查询日志总条数 -->
    <select id="getCountByPage" resultType="java.lang.Integer" parameterType="com.wcj.utils.Page">
        select
        count(*)
        from bl_log
        <where>
            <if test="params.logUrl!=null and params.logUrl!=''">
                log_url like CONCAT('%',#{params.logUrl},'%')
            </if>
            <if test="params.logStatus!=null">
                and log_status=#{params.logStatus}
            </if>
            <if test="params.logMethod!=null and params.logMethod!=''">
                and log_method like CONCAT('%',#{params.logMethod},'%')
            </if>
            <if test="params.logIp!=null and params.logIp!=''">
                and log_ip like CONCAT('%',#{params.logIp},'%')
            </if>
            <if test="params.createdTime!=null and params.createdTime!=''">
                and created_time like CONCAT('%',#{params.createdTime},'%')
            </if>
        </where>
    </select>
    <!-- 查询所有的日志信息 -->
    <select id="getAll" resultMap="BaseResultMap">
        select
        log_id, log_url, log_params, log_status, log_message,
        log_method, log_time, log_result, log_ip, created_time
        from bl_log
    </select>

</mapper>
