<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wcj.mapper.UserMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wcj.pojo.User">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="header" property="header"/>
        <result column="nickname" property="nickname"/>
        <result column="user_email" property="userEmail"/>
        <result column="created_time" property="createdTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="version" property="version"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, username, password, name, sex, header, nickname, user_email, created_time, update_time, version, deleted
    </sql>
    <!-- 添加用户 -->
    <insert id="addUser" parameterType="com.wcj.pojo.User">
        insert into bl_user(username, password,
         name, sex, header, nickname, user_email)
         values(#{username},#{password},
         #{name},#{sex},#{header},#{nickname},#{userEmail})
    </insert>
    <!-- 修改用户 -->
    <update id="updateUser" parameterType="com.wcj.pojo.User">
        update bl_user set
        version=version+1
        <if test="username!=null and username!=''">
            ,username=#{username}
        </if>
        <if test="password!=null and password!=''">
            ,password=#{password}
        </if>
        <if test="name!=null and name!=''">
            ,name=#{name}
        </if>
        <if test="sex!=null ">
            ,sex=#{sex}
        </if>
        <if test="header!=null and header!=''">
            ,header=#{header}
        </if>
        <if test="nickname!=null and nickname!=''">
            ,nickname=#{nickname}
        </if>
        <if test="userEmail!=null and userEmail!=''">
            ,user_email=#{userEmail}
        </if>
        where user_id=#{userId} and version=#{version}
    </update>
    <!-- 根据id删除用户 -->
    <delete id="deleteUser" parameterType="com.wcj.pojo.User">
        update bl_user set
        deleted=1
        where user_id=#{id}
    </delete>
    <!-- 根据id查询用户 -->
    <select id="getUser" resultMap="BaseResultMap">
        select  user_id, username,name,
        sex, header, nickname, user_email,version
        from bl_user
        where user_id = #{id} and deleted=0
    </select>
    <!-- 分页查询用户列表 -->
    <select id="getUserList" resultMap="BaseResultMap" parameterType="com.wcj.utils.Page">
        select user_id, username, password,
        name, sex, header, nickname, user_email,
        created_time, update_time, version
        from bl_user
        where deleted=0
        <if test="params.username!=null and params.usename!=''">
            and username like CONCAT('%',#{params.username},'%')
        </if>
        <if test="params.name!=null and params.name!=''">
            and name like CONCAT('%',#{params.name},'%')
        </if>
        <if test="params.sex!=null ">
            and sex = #{params.sex}
        </if>
        <if test="params.nickname!=null and params.nickname!=''">
            and nickname like CONCAT('%',#{params.nickname},'%')
        </if>
        <if test="params.userEmail!=null and params.userEmail!=''">
            and user_name like CONCAT('%',#{params.userEmail},'%')
        </if>
        <if test="params.createdTime!=null and params.createdTime!=''">
            and created_time like CONCAT('%',#{params.createdTime},'%')
        </if>
        <if test="sortColumn!=null and sortColumn!=''">
           order by ${sortColumn} ${sortMethod}
        </if>
        limit #{index},#{pageSize}
    </select>
    <!-- 分页查询数据总条数 -->
    <select id="getCountByPage" resultType="java.lang.Integer" parameterType="com.wcj.utils.Page">
        select
        count(*)
        from bl_user
        where deleted=0
        <if test="params.username!=null and params.usename!=''">
            and username like CONCAT('%',#{params.username},'%')
        </if>
        <if test="params.name!=null and params.name!=''">
            and name like CONCAT('%',#{params.name},'%')
        </if>
        <if test="params.sex!=null ">
            and sex = #{params.sex}
        </if>
        <if test="params.nickname!=null and params.nickname!=''">
            and nickname like CONCAT('%',#{params.nickname},'%')
        </if>
        <if test="params.userEmail!=null and params.userEmail!=''">
            and user_name like CONCAT('%',#{params.userEmail},'%')
        </if>
        <if test="params.createdTime!=null and params.createdTime!=''">
            and created_time like CONCAT('%',#{params.createdTime},'%')
        </if>
        <if test="params.updateTime!=null and params.updateTime!=''">
            and update_time like CONCAT('%',#{params.updateTime},'%')
        </if>
    </select>
    <!-- 获取用户列表，用于重置密码 -->
    <select id="getUsers" resultMap="BaseResultMap">
        select user_id,username,version
        from bl_user
        where user_id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        and deleted = 0
    </select>
    <select id="getUserByUserName" resultMap="BaseResultMap">
        select user_id, username, password, name, sex, header, nickname, user_email, deleted
        from bl_user
        where username=#{username}
    </select>
    <insert id="insertUser" parameterType="com.wcj.pojo.User">
        insert into bl_user(username,password,nickname,user_email,sex)
        values(#{username},#{password},#{nickname},#{userEmail},#{sex})
    </insert>


</mapper>
